.page_padding{
    padding-inline: 5rem;
}
.body{
width: 100%;
}



.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form>div {
    

    font-size: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.rbg{
    background-color: red;
}
.form>div>input,
.form>div>textarea {
    width: calc(100% - 2rem);
  
}
.form>div>input{
    height: 2rem;
}

.form>button {
    width: calc(100% - 2rem);
    height: 2.5rem;
    background: blue;
    margin-inline: auto;
    
}