@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #f48f8b;
}

h1,
h2,
h3,
span,
a,
p,
li,
i {
  font-size: "Lato", sans-serif;
}

.icon {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.chatroom {
  width: 500px;
  margin: 30px auto 0;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  padding: 0 0 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 2px rgba(43, 43, 43, 0.5);
}
.chatroom .chat-top {
  background: #f2f2f2;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chatroom .chat-top .name h3 {
  letter-spacing: 0.15rem;
  font-weight: 400;
  font-size: 1rem;
}
.chatroom .chat-top .control span {
  color: #72a3d4;
  cursor: pointer;
}
.chatroom .chat-top .control:hover span, .chatroom .chat-top .control:hover span::before {
  color: #31356c;
}
.chatroom .chat-top .control .arrow::before {
  content: "<";
  font-weight: 900;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  color: #72a3d4;
}
.chatroom .chat-top .profile {
  display: flex;
}
.chatroom .chat-top .profile img {
  margin: auto;
}
.chatroom .chat-mid {
  padding: 0 20px 50px;
  background-image: url(https://static.collectui.com/shots/3572449/orange-pattern-large);
}
.chatroom .chat-mid .chat {
  display: grid;
  grid-template-columns: 50px 360px 50px;
}
.chatroom .chat-mid .chat .chatbox {
  display: flex;
  align-items: center;
  position: relative;
}
.chatroom .chat-mid .chat .chatbox .message {
  padding: 1px 10px;
  border-radius: 25px;
  background: white;
  position: relative;
  box-shadow: 1px 2px 3px 1px rgba(43, 43, 43, 0.3);
}
.chatroom .chat-mid .chat .chatbox .message::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
}
.chatroom .chat-mid .chat .left {
  grid-column: 1/3;
}
.chatroom .chat-mid .chat .left .message {
  margin-left: 10px;
  border-left-color: transparent;
}
.chatroom .chat-mid .chat .left .message::before {
  top: 50%;
  left: -12px;
  transform: translatey(-50%);
  border: 7px solid transparent;
  border-right-color: white;
}
.chatroom .chat-mid .chat .right {
  grid-column: 2/-1;
  justify-self: end;
}
.chatroom .chat-mid .chat .right .message {
  margin-right: 10px;
  border-right-color: transparent;
}
.chatroom .chat-mid .chat .right .message::before {
  top: 50%;
  right: -12px;
  transform: translatey(-50%);
  border: 7px solid transparent;
  border-left-color: white;
}
.chatroom .chat-mid .chat .right .profile {
  order: 2;
}
.chatroom .chat-bottom {
  padding: 30px 20px 0;
  background: #f2f2f2;
}
.chatroom .chat-bottom form {
  display: flex;
}
.chatroom .chat-bottom form input {
  flex: 2 1 auto;
  outline: none;
  border: 1px solid transparent;
  border-bottom-color: #e2e2e2;
  padding: 0 15px;
}
.chatroom .chat-bottom form span {
  margin: 0 20px;
  background: rgba(226, 226, 226, 0.9);
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
}